<div class="container-fluid cover-image d-flex align-items-center justify-content-center">
    {{#if user}}
    <img id="coverImg" src="{{user.profile.cover_img}}">
    {{else}}
    <img id="coverImg">
    {{/if}}
    <div class="input-cover-image">
        <label class="btn" for="input-cover-img">
            <i class="fa-regular fa-image"></i></br>
            Change Image
        </label>
    </div>
</div>
<div class="container-md p-0 ms-auto me-auto mb-5">
    <div class="edit-profile">
        <div class="profile-user">
            {{#if user}}
            <img id="avatar" src="{{user.profile.ava}}">
            {{else}}
            <img id="avatar" src="/assets/images/user.png">
            {{/if}}
            <h3 class="fw-bolder">{{user.first_name}} {{user.last_name}}</h3>
            <button class="change-ava-btn" id="change-ava-btn">
                <label for="change-ava"><i class="fa-regular fa-pen-to-square fs-4"></i></label>
            </button>

        </div>
        <form action="/site/edit-profile" method="post" enctype="multipart/form-data">
            <input class="d-none" type="file" id="input-cover-img" accept="image/*" name="coverImg">
            <input id="change-ava" class="d-none" type="file" accept="image/*" name="ava">
            <div class="d-flex flex-column gap-3 mt-4 mb-4">
                <div class="">
                    <label class="mb-1">Bio</label>
                    <input id="bio" type="text" name="bio" value="{{user.profile.bio}}">
                </div>
                <div class="mt-4">
                    <label class="mb-1">Add Photos</label>
                    <label id="input-image" class="fw-bold btn" for="input-img">
                        <i class="fa-solid fa-camera fs-5">&nbsp;UP LOAD</i>
                    </label>
                    <div id="input-profile-img" class="input-img">
                        <input id="input-img" accept="image/*" class="d-none" type="file" name="imgs" multiple>
                        <div class="preview d-none d-flex flex-wrap gap-1 border p-3 mt-3 rounded-1 bg-light">
                        </div>
                    </div>

                </div>
                <div class="">
                    <label class="mb-1">Profile descriptions</label>
                    <textarea name="description" cols="40" rows="5">{{user.profile.description}}</textarea>
                </div>
                <h6 class="fw-bold mt-4">Questions</h6>
                <div class="">
                    <label class="mb-1">What have you been doing in the past?</label>
                    <textarea name="q1" cols="40" rows="3">{{user.profile.q1}}</textarea>
                </div>
                <div class="">
                    <label class="mb-1">What kind of person you are?</label>
                    <textarea name="q2" cols="40" rows="3">{{user.profile.q2}}</textarea>
                </div>
                <div class="">
                    <label class="mb-1">What is your favorite?</label>
                    <textarea name="q3" cols="40" rows="3">{{user.profile.q3}}</textarea>
                </div>
                <div class="">
                    <label class="mb-1">Your Travel Experience?</label>
                    <textarea name="q4" cols="40" rows="3">{{user.profile.q4}}</textarea>
                </div>
                <button class="btn-gradient-info d-block m-auto" type="submit">SAVE PROFILE</button>
            </div>
        </form>
    </div>
</div>