<div class="trip mb-4">
    <div class="container-fluid p-0">
        <div id="trip-imgs" class="carousel slide" data-bs-ride="carousel">
            <div class="d-flex bg-dark">
                <div id="prev-item" class="flex-fill"
                    style="background-image: url('{{trip.img.[0]}}');">
                </div>
                <div class="carousel-inner container-lg p-0">
                    {{#each trip.img}}
                    <div class="carousel-item {{#ifIsZero @index}}active{{/ifIsZero}}">
                        <img src="{{ this }}" class="viewable-img d-block" alt="...">
                    </div>
                    {{/each}}
                </div>
                <div id="next-item" class="flex-fill" style="background-image: url('/assets/homepage-background.jpg');">
                </div>
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#trip-imgs" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#trip-imgs" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#trip-imgs" data-bs-slide-to="2"></button>
            </div>

            <button class="carousel-control-prev my-auto" type="button" data-bs-target="#trip-imgs"
                data-bs-slide="prev">
                <i class="fa-solid fa-circle-chevron-left fs-2"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next my-auto" type="button" data-bs-target="#trip-imgs"
                data-bs-slide="next">
                <i class="fa-solid fa-circle-chevron-right fs-2"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div id="view-profile-img" class="img-view d-none">
            <button type="button" class="btn-close btn-close-white" aria-label="Close"
                data-bs-target="#view-profile-img"></button>
        </div>
    </div>
    <div class="container-xl p-0">
        <div class="row m-0 gx-4">
            <div class="col-8">
                <div class="d-flex flex-column gap-4">
                    <h3 class="fw-bolder">{{trip.title}}</h3>
                    <div class="d-flex align-items-center gap-2">
                        <span><i>Hosted by</i></span>
                        <div class="user">
                            <a href="#">
                                {{#if host.profile.ava}}
                                <img src="{{host.profile.ava}}" width="50" height="50">
                                {{else}}
                                <img src="assets/images/user.png">
                                {{/if}}
                                
                            </a>
                            <div class="my-auto">
                                <h6 class="name m-0">{{host.first_name}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-5 py-3">
                        <div>
                            <i class="fa-solid fa-clock fs-5 text-info"></i>&nbsp;
                            <span class="text-muted">{{trip.duration}} days</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-flag fs-5 text-info"></i>&nbsp;
                            <span class="text-muted">{{trip.stop}} stops</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-user fs-5 text-info"></i>&nbsp;
                            <span class="text-muted">{{trip.total_tripmates}} mates</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-location-dot fs-5 text-info"></i>&nbsp;
                            <span class="text-muted">Vietnam</span>
                        </div>
                    </div>
                    <p class="text-content">
                        <b>Are you ready for a very special vacation?</b><br />
                        {{trip.description}}
                    </p>
                    <h6 class="text-uppercase fw-bold">meet your trip leader</h6>
                    <div class="border">
                        <div class="d-flex justify-content-between p-4">
                            <a href="#">
                                <div class="trip-leader d-flex gap-3 align-items-center">
                                    {{#if host.profile.ava}}
                                    <img src="{{host.profile.ava}}">
                                    {{else}}
                                    <img src="/assets/images/user.png">
                                    {{/if}}
                                    <div>
                                        <h6 class="fw-bold m-0 text-dark">{{host.first_name}}</h6>
                                        <span class="text-muted fs-7">View profile</span>
                                    </div>
                                </div>
                            </a>
                            <div class="d-flex gap-4 align-items-center">
                                <span class="text-success">
                                    <i class="fa-solid fa-user-check"></i>&nbsp;Identity verified
                                </span>
                                <span class="text-success">
                                    <i class="fa-solid fa-phone"></i>&nbsp;Phone verified</span>
                                </span>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="bg-primary bg-opacity-25 px-4 py-2 text-primary fs-8">
                            <i class="fa-solid fa-message"></i>&nbsp;
                            <span>You can chat with {{host.first_name}} after booking you spot</span>
                        </div>
                    </div>
                    <h6 class="text-uppercase fw-bold mt-3">Your tripmate(s)</h6>
                    <div class="d-flex gap-4 border p-4">
                        {{#each tripmate}}
                        <a href="#">
                            <div class="tripmate">
                                {{#if profile.ava}}
                                <img class="d-block" src="{{profile.ava}}">
                                {{else}}
                                <img class="d-block" src="/assets/images/user.png">
                                {{/if}}
                                <h6 class="fw-bold mt-2 text-dark">{{first_name}}</h6>
                            </div>
                        </a>
                        {{/each}}
                    </div>
                    <h6 class="text-uppercase fw-bold mt-3">TRIP ITINERARY</h6>
                    <div class="d-flex flex-column gap-5">
                        {{#each trip.itinerary}}
                        <div class="location d-flex flex-column gap-3">
                            <div class="d-flex align-items-center gap-3">
                                <div class="location-no">{{no}}</div>
                                <div class="location-name">
                                    <i class="fa-solid fa-location-dot"></i>&nbsp;
                                    <span class="fw-bolder fs-5">Địa điểm {{@index}}</span>
                                </div>
                            </div>
                            <div class="ps-5 d-flex flex-column gap-3">
                                <img class="d-block viewable-img" src="{{img}}">
                                <p class="text-content fs-7">
                                    {{content}}
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div>
                        <h6 class="text-uppercase fw-bold mb-4">what was included</h6>
                        <div class="d-flex flex-column gap-4">
                            <div class="included-item">
                                <i class="fa-solid fa-house"></i>
                                <div class="d-flex flex-column justify-content-between">
                                    <b class="fs-7">Accommodation</b>
                                    <span class="fs-8 text-muted">Hotel</span>
                                </div>
                            </div>
                            <div class="included-item">
                                <i class="fa-solid fa-ticket"></i>
                                <div class="d-flex flex-column justify-content-between">
                                    <b class="fs-7">{{trip.duration}} days trip</b>
                                </div>
                            </div>
                            <div class="included-item">
                                <i class="fa-regular fa-compass"></i>
                                <div class="d-flex flex-column justify-content-between">
                                    <b class="fs-7">Transportation</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0">
                    <span class="text-secondary fw-bold">
                        <i class="fa-regular fa-font-awesome"></i>&nbsp;REPORT TRIP
                    </span>
                </div>
            </div>
            <!-- booking -->
            <div class="col-4">
                <div class="border rounded-1">
                    <div class="text-secondary p-3">
                        <i class="fa-regular fa-calendar"></i>&nbsp;
                        <span>{{shortDate trip.dep_date}}</span>&nbsp;
                        <i class="fa-solid fa-arrow-right"></i>&nbsp;
                        <span>{{endDate_short trip.dep_date trip.duration}}</span>
                    </div>
                    <hr class="m-0">
                    <div class="text-primary fw-bold p-3">
                        <i class="fa-regular fa-compass"></i>&nbsp;
                        <span class="fs-7">Guided trip</span>
                    </div>
                    <hr class="m-0">
                    <div class="p-3 d-flex flex-column gap-3">
                        <div class="d-flex justify-content-between">
                            <span class="fw-bolder">PRICE</span>
                            <div>
                                <span>1.000.000</span>
                                <span class="text-success">VND</span>
                            </div>
                        </div>
                        <button type="button" class="btn-gradient-danger d-block w-100 text-uppercase">Reverse
                            spot</button>
                        <div class="text-danger fs-8 text-center">
                            <i class="fa-solid fa-bolt"></i>&nbsp;
                            <span>3</span>&nbsp;
                            <span>spot left</span>
                        </div>
                    </div>
                    <hr class="m-0">
                    <div class="p-3 text-secondary fs-7">
                        <i class="fa-solid fa-arrows-rotate"></i>&nbsp;
                        <span class="fw-bold">7 Days Free Cancellation</span><br>
                        <span class="text-dark-50"><small>You'll only be charged when {{host.first_name}} appcepts the
                                booking.</small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>